body{
  background: #466368;
  background: linear-gradient(#ffffff, #00995c);
  border-radius:6px;
  height: 2000px;
}
h1{
	color: #000000;
	font-size: 50px;
	font-family: "Arial Black", serif;
	border-style: dotted;
	text-align: center;	
}




